* {
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
}

.card-deck {
    margin-right: 0;
    margin-left: 0;
}

#home {
    background-image: url("header.png") no-repeat 0, 0 #99e9ff;
    background-blend-mode: multiply;
}

.bg-dark {
    height: 100vh;
}

.nav-link {
    color: white;
    padding: 1rem;
}

.nav-link:hover {
    color: gray;
}

.button-set {
    text-align-last: center;
    margin-top: 8rem;
}

.name {
    text-align-last: end;
    margin-left: 2rem;
    margin-right: 23rem;
}

.number {
    text-align-last: end;
}

.who-container {
    min-height: 24vh;
    background-color: aquamarine;
}

.skills-container {
    min-height: 75vh;
    background-color: violet;
}

.nav {
    font-variant: small-caps
}